*{
    margin: 0px;
    background-color: black;
}
.first{
    font-family: serif;
    font-size:x-large; 
    color: gray; 
    text-align: center;
    line-height: 40px;
    margin-left: 100px;
 

     
}
.candy{
color: antiquewhite;
     font-size: xx-large;
     text-align: center;
     padding-top: 20px;
}
.second{
    color: white;
    display: flex;
    text-align: center;
     
   
}
.sec-one{
margin: 20px;
 
}
.sec-two{
margin: 20px;

 
}
.sec-three{

margin: 20px;
 
}
.sec-four{
   margin: 20px;
}
.sec-five{
    margin: 20px;


}
.sec-six{
    margin: 20px;
}
 
.pic-one{
    width: 900px;
    height: 400px;
    margin-left: 170px;
    margin-top: 40px;
}
.text{
color: white;
width: 100%;
height: 200px;
line-height: 30px;
}
.heading{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}
.num{
    color: gray;
    margin-left: 70px;
    margin-right: 50px;
}
.pic-two{
    display: flex;
}
.photo-one{
    margin-left: 80px;
    margin-top: 40px;
}
.photo-two{
    margin-left: 50px;
    margin-top: 40px;
}
.text-two{
    font-family: roboto sans-serif;
    color: gray;
    height: 300px;
    line-height: 30px;
    margin-top: 20px;
} 
.num-two{
    margin-left: 70px;
    margin-right: 50px;

}
.pic-three{
    width: 100%;
    height: 300px; 
    display: flex;
    
    
}
.first{
    margin-left: 70px;
    
}
.second{
    margin-left: 10px;
   
}
.third{
    margin-left: 70px;
   
    width: 250px;
    margin-right: 40px;
}
.kopico{
    letter-spacing: 3px;
    font-weight: lighter;
    margin-top: 30px;
}
hr{
 height: .5px;
width: 100%;
border: 0;
background-color: gray;

}
.word{
    line-height: 100px;
}
.second{
    margin-left: 100px;
}
.last-div{
    width: 100%;
    height: 100px;
    color: gray;
    text-align: center;
     
}